.bg-image {
    padding: 60px 15px 0;
    background-image: url('/static/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-barb {
    background-image: url('/static/media/barb.jpg');
    background-size: cover;
}