.bg-image {
    padding: 60px 0 0;
    background-image: url('../media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222; /* fallback color */
}

.bg-image-barb {
    background-image: url('../media/barb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222; /* fallback color */
}