textarea {
  height: 200px;
}

ul>.navbar {
  --bs-scroll-height: 100px;
}

.grid {
  column-count: 3;
  column-gap: 10px;
}

.grid-sizer,
.grid-item {
  break-inside: avoid;
  margin-bottom: 10px;
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .grid {
    column-count: 1;
    column-gap: 5px;
  }

  .grid-sizer,
  .grid-item {
    break-inside: avoid;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 2px;
  }
}

.grid-item:hover {
  background: rgb(150, 150, 150);
  border-color: white;
  cursor: pointer;
}

.figure-caption {
  color: black;
}

